[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Automatically exported from code.google.com/p/h264j
[access "refs/*"]
	owner = group user/Kyungmin Lee (rudalsgecko)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kyungmin Lee (rudalsgecko)
	label-Verified = -1..+1 group user/Kyungmin Lee (rudalsgecko)
	push = group user/Kyungmin Lee (rudalsgecko)
	read = group user/Kyungmin Lee (rudalsgecko)
	rebase = group user/Kyungmin Lee (rudalsgecko)
	removeReviewer = group user/Kyungmin Lee (rudalsgecko)
	submit = group user/Kyungmin Lee (rudalsgecko)
[access "refs/heads/*"]
	create = group user/Kyungmin Lee (rudalsgecko)
	push = +force group user/Kyungmin Lee (rudalsgecko)
	pushMerge = group user/Kyungmin Lee (rudalsgecko)
	read = group user/Kyungmin Lee (rudalsgecko)
[access "refs/tags/*"]
	push = group user/Kyungmin Lee (rudalsgecko)
	push = +force group user/Kyungmin Lee (rudalsgecko)
